<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.razvan.merrygoround" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/mps"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_menu" >
            <intent-filter>
                <action android:name="com.example.razvan.merrygoround.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="Game" >
            <intent-filter>
                <action android:name="com.example.razvan.merrygoround.GAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity
            android:name=".StatsActivity"
            android:label="@string/title_activity_stats" >
            <intent-filter>
                <action android:name="com.example.razvan.merrygoround.STATS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
